@tailwind base;
@tailwind components;
@tailwind utilities;


body {
}

.headingTitle {
  font-weight: bold;
  font-size: "60px";
  margin-bottom: "20px";
  color: "#FFAA24";
}
.activeFilterNews {
  color: "#FFF !important";
  background-color: "#FFAA24 !important";
}